---
layout: page
---

<small class="post-date">
  <i class="fas fa-cog fa-spin fa-fw"></i> <span id="run_time"></span>
  <script src="/assets/js/run_time.js"></script>
    <i class="fas fa-eye fa-fw"></i>
          <span id="busuanzi_value_page_pv"></span> times
          <i class="fas fa-paw fa-fw"></i>
          <span id="busuanzi_value_site_pv"></span>th
          <i class="fas fa-user-friends fa-fw"></i>
          <span id="busuanzi_value_site_uv"></span> people
          <br/>
        <script src="//cdn.jsdelivr.net/npm/busuanzi/bsz.pure.mini.min.js"></script>
          <i class="fas fa-copyright fa-fw"></i>
              {{ site.time | date: '%Y' }}
              {{ site.author }}
          <i class="fas fa-user-edit fa-fw"></i>
          {{ site.time | date: '%F %T' }}
</small>
{{ content }}
<h2>Recent</h2>
<ul>
  {% for post in site.posts %}
 <li>
    <a href="{{ post.url }}">{{ post.title }}</a>, {{ post.date | date_to_string }}
  </li>
  {% endfor %}
</ul>
